body {
    width: 100%;
    margin: 0;
    
}


h1 {
    text-align: center;
    color: gray;
}

#pantalla {
    background: rgb(76, 192, 92);
    width: 100%;


}

.miBoton {
    display: flex;
    justify-content: left;

}

button {
    
    color: white;
    font-size: 18px;
    width: 220px;
    height: 68px;
    left: 0px;
    top: 0px;
    background-color:#0A3871;
    border-radius: 24px;
    
}

#boton:hover{
    background: transparent;
    border-color: #0A3871;
    color: #0A3871;
}



