.about {
    margin-top: 60px;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    background: linear-gradient(to right, #0f0c29 0%, #302b63  51%, #24243e 100%);
    height: auto;
    transition: 0.5s;

}
.about_texto {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    
}

.about h2 {
    margin-top: 0;
    color: white;
    font-size: 3rem;
    margin-top: -20px;
    margin-bottom: -5px;
}

.about p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 150%;


}


/* .about img {
   
    border-radius: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #3a47d5;
}  */

.about img:hover {

    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color: white;
}



@media screen and (min-width: 767px) { 
 
    .about p {
padding: 0 80px;
    }

} 
