#experiencia {
    margin:auto; 

}

.container_experiencia span {
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    display: block;
}

.container_experiencia {
    grid-template-columns: auto;
    grid-row: 10px;
    margin-right: 15px;

}

.contenedor_imagenes {
    padding: 10px !important;
    width: 100%;
    height: 100%;

}


#experiencia img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


#experiencia p {
    font-family: 'Poppins', sans-serif; 
    padding: 20px;
    font-size: 18px;
    text-align: center;
    color: #333;
    font-weight: 400;

}

#experiencia h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    -webkit-background-clip: text;
    color: transparent;  
    margin-top: 60px;
    
}


 @media screen and (min-width: 656px) {
    .container_experiencia {
        grid-template-columns: auto auto auto;
    } 
    .container_experiencia img {
        width: 300px;
        height: 200px;
    }
 } 






/*

.galeria_principal {
    grid-template-columns: auto auto;
    
}



.galeria {
    margin: auto;
    width: 60%;
    overflow: hidden;
    border: 10px solid #00d2ff;
    border-radius: 10px;
}
    
    .galeria ul {
        display: flex;
        padding: 0;
        width: 600%;
        animation: slider 20s infinite alternate ease-in;
  

    }
    
    .galeria li {
        width: 100%;
        list-style: none;
    }
    
    .galeria li img {
        width: 100%;

        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }
    
    @keyframes slider {
      
        0% { margin-left: 0;}
        10% { margin-left: 0;}
        
        15% {margin-left: -100%;}
        25% {margin-left: -100%;}
    
        35% {margin-left: -200%;}
        45% {margin-left: -200%;}
    
        55% {margin-left: -300%;}
        65% {margin-left: -300%;}
    
        70% {margin-left: -400%;}
        85% {margin-left: -400%;}
    
        90% {margin-left: -500%;}
        100% {margin-left: -500%;}
    
    
    }


     .imagen_animada {
        width: 120px;
        height: 180px;
        float: inline-end;
        z-index: -10000000;
       transform: translate(-150%, -75%);  

    } 
    


 */
