html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
/* }f0f4f5
f5f0f3
   */
}


  .nav {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: auto;
    padding: 0px;
    background-color: #f8f8ff;
    border-bottom: 1px rgb(230, 218, 218) dashed ;
}     
    .nav a {
      color: #333;
      font-size: 0.8rem;
      margin: 0 0 0 0px;
      padding: 5px; 
      font-weight: 400;
      
    }
    .nav a {
        text-decoration: none;
        font-weight: 900;

    }
     
    .aboutme {
        text-decoration: underline;
        color: #7209B7 !important;
  
    }
    .home {
    grid-template-columns: auto ;
    font-family: 'Poppins', sans-serif; 
    border-bottom: 1px solid #3F5EFB; 
    }

    .title_saludo {
        font-size: 2.75rem;
        font-weight: 900;
        text-align: left;

    }
    .texto_principal {
        text-align: left;
    }
    
    .title_nombre_saludo {
        font-size: 4.75rem;
        font-weight: 900;
        /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
        -webkit-background-clip: text; */
        color: #3F5EFB;  

    }
    .title_nombre {
        margin: 10 10px;
        font-size: 1.5rem;
    }
    .subtitle_banner {
        font-size: 1.75px;
        color: #094074;
    }

 .home_parrafo {
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1rem;
    font-weight: 300;
    }

    
/* .boton_descargar  {
    width: 160px;
    padding: 15px 0;
    font-size: 18px;
    color: white;
    font-weight: bold;
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); */
    /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
}

.boton_descargar:hover{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    color: #094074;
    border: 1px solid linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    transform: scale(1.2);
} */ 


#principal .boton_descargar {
    background: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}

#principal .boton_descargar {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 #principal .boton_descargar:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }


.imagen_principal {

    width: 100%;
    height: 100%;
    /* margin: auto; */
    /* padding: 20px; */

}


.navegador a:hover {
    color:#7209B7;
    cursor: pointer;
    text-decoration: underline;
  }

.btn-flotante {
	border-radius: 100%; 
	padding: 4px 4px; 
	position: fixed;
	right: 90px;
	/* transition: all 300ms ease 0ms; */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	z-index: 99;
    border: 1px solid #094074;
}



.btn-flotante:hover {
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-5px);
    background-color: #094074;
    
}

.icono_linkedin {
bottom: 160px;
 
}
    
.icono_gmail {
	
bottom: 110px;
}

.icono_twitter {
bottom: 60px;
 
}

.icon_contactos img{
    width:24px;
    height:24px;
}












@media screen and (min-width: 360px) and (max-width: 767px) { 


    .home {
        grid-template-columns: auto;
        }  

    .title_saludo, .title_nombre_saludo {
        font-size: 2.75rem;
    }
    .subtitle_banner {
        font-size: 1.5rem;
    }
    


    .imagen_principal img {
        width: 50%;
        height: 100%;
    }

    .imagen_principal img {
        width: 100%;
        height: 100%;
    }
  
}


@media only screen and (min-width: 768px) {

    .home {
        grid-template-columns: auto auto;
        } 

    .title_saludo, .title_nombre_saludo {
        font-size: 3.75rem;
    }
    .subtitle_banner {
        font-size: 1.5rem;
    }
    
    .imagen_principal img {
        width: 100%;
        height: 100%;
    }
  
}

@media only screen and (max-width: 600px) {
 	.btn-flotante {
		padding: 6px 10px;
		/* bottom: 20px; */
		right: 80px;
	}

    .btn-flotante img {
        width: 20px;
        height: 20px;
    }
    


} 

  
  @media screen and (min-width: 1024px) { 
  
    main {
          width: 980px;
          margin: auto;
      }

      .imagen_principal img {
        width: 460px;
    }
  
}
 

