.skills {
margin-top: 40px;
grid-template-columns: auto;
font-family: 'Poppins', sans-serif;
}

.skills_izquierdo  {
    border-radius: 10px;
    color: #3a47d5;
    font-size: 1.5rem;

}

.skills_derecho {
        margin-top: auto;
        background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
        -webkit-background-clip: text;
        color: transparent;  
        font-size: 30px;
       
    }

 .parrafo_softskills {
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    color: #333;
    font-weight: 200;
}
 
.skills img {
       
    border-radius: 10%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 90%);
    color: white;
} 

.hard_skills {
    grid-template-columns: auto ;
    padding: 10px;
    border-bottom: 1px solid #3F5EFB; 
}

.hard_skills img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px 20px;
    text-align: center;
    transition: all 0.25s;
    
} 

.hard_skills img:hover {

    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    color: white;
}
.skills_derecho {
    padding: 20px;

} 

.hard_imagen{
    margin-top: 20px;
    
}

#hard_skills ul li {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px 20px;
    text-align: center;
    transition: all 0.25s;
} 

.intro_skills {
    font-style: italic;
    text-align: center;
    font-size: 20px;
    color: #968E8E;
    margin-top: 0px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
#hard_skills ul li:hover {

    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);


    color: white;
}



@media screen and (max-width: 367px) { 
 
    .hard_skills img { 
        width: 80px;
        height: 80px;
    
    }
    .skills img { 
        width: 200px;
        height: 220px;
    
    }

}

@media screen and (min-width: 767px) { 
    
    .skills {
        grid-template-columns: auto auto ;
    }
  
 }

 @media screen and (max-width: 837px) { 
  
   .skills_derecho {
       font-size: 1.5em;
       top: -24px;
   }



} 
